<div class="row ">
    <div class="col-12 ">
      <form [formGroup]="formData" >
        <div class="form-group">
          <label for="name">Order ID</label><br>
          <input type="text" id="orderID" formControlName="orderID" required>
        </div>


        <button type="submit" class="btn btn-warning btn-lg btn-block" (click)="showOrder()">Check</button>

      </form>
      <div class="alert alert-warning mt-5" role="alert" *ngIf="!find">
        We can't find the order with that ID :(
      </div>
    </div>
  </div>
