<div class="row justify-content-center mt-4">
  <div class="col-md-4 col-sm-6 col-xs-12 text-center">
    <h2>Register into PCServ</h2>

    <form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group">
        <label class="center-block">Login:
        </label>
        <input class="form-control" formControlName="login" id="login">
      </div>

      <div class="form-group">
        <label class="center-block">Password:
        </label>
        <input class="form-control" formControlName="password" id="password">
      </div>

      <button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary btn-block" id="registerButton">Save</button>
    </form>

  </div>
</div>
