<div class="main">
  <div class="row" style="margin:0 !important">
    <div class="col-12 text-center mt-4">
      <h2>
        Welcome to Cracow Computer Services.
      </h2>
    </div>


    <div class="col-12 text-center mt-5 ">
      <div class="container">
        On this website you can find information and prices on a whole range of computer services and products.
        We offer fixed prices on a range of computer services in the Cracow area.
        With over 25 years experience we can fix any problem you might have.
        We aim to keep are prices as low as possible and are able to help with all of your IT needs, quickly and
        efficiently.
      </div>

    </div>
    <div class="col-12 text-center fixed-bottom mb-3">
      If you need any more information please call 0000 111 222 or 01234 56789
    </div>
    <img src="../../assets/images/background.jpg" alt="" class="background">
  </div>
</div>
