<div >
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../assets/images/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item mr-2 " [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link btn btn-outline-warning btn-lg btn-block" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item  mr-2 pull-right" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated">
            <a class="nav-link btn btn-outline-warning btn-lg btn-block" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <!--<li class="nav-item pull-right" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated">
            <a class="nav-link text-dark" [routerLink]="['/admin']">Admin</a>
          </li>-->
 
          <li class="nav-item  mr-2 pull-right" [routerLinkActive]="['link-active']" *ngIf="!isAuthenticated">
            <a class="nav-link btn btn-outline-warning btn-lg btn-block" [routerLink]="['/login']" >Login</a>
          </li>
          <li class="nav-item  mr-2 pull-right" [routerLinkActive]="['link-active']" *ngIf="!isAuthenticated">
            <a class="nav-link btn btn-outline-warning btn-lg btn-block" [routerLink]="['/register']">Register</a>
          </li>
          <li class="nav-item  mr-2 pull-right" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated" >
            <a class="nav-link btn btn-outline-warning btn-lg btn-block" [routerLink]="['/']" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>